body {
  margin: 0 auto;
}
img {
  display: inline;
  margin: 0;
  padding: 10px 0px;
}
p {
  font-size: 8px;
}
.container {
  margin: 0 auto;
}

.page-wrapper {
  text-align: center;
}
.border {
  border: 0.5px gray solid;
  border-radius: 10px;
  margin: 10px 0px;
}
.university {
  font-size: 10px;
  padding: 5px 5px 0px 0px;
  line-height: 15px;
}
.thisis-title {
  margin: 0;
  font-size: 10px;
  text-align: right;
  padding: 10px 0px 0px 0px;
}
.case-study {
  font-size: 10px;
}

.name {
  text-align: center;
  font-size: 8px;
}
.advisor {
  padding: 0px 0px 0px 10px;
}
.balancer-video {
  margin: 0 auto;
  padding: 0px 5px 5px 5px;
}
@media (max-width: 800px) {
  .thisis-title {
    font-size: 6px;
    padding: 5px 0px 0px 0px;
  }
  .university {
    font-size: 5px;
    line-height: 1;
  }
  .name {
    font-size: 4px;
  }
}
